/* HEX Values
123456789 A(10) B(11) C(12 D(13) E(14) F(15)
*/
#first {
  color: #ff0000;
  background: #000;
}
#second {
  color: #fff;
  background: #00ff00;
}
#third {
  color: #0000ff;
  background: #f15025;
}
#fourth {
  color: #f234ad;
  background: #222;
}
