/* font-size, width, height, pixels */

h1 {
  font-size: 30px;
  width: 200px;
  height: 300px;
  background: blue;
}

/* Percent Values - Relative */

.outer {
  width: 500px;
  height: 500px;
  background: blue;
}

.inner {
  width: 50%;
  height: 50%;
  background: red;
}

/* 
em - relative depends on parent
1em = 16px default browser style
1em = base value
*/
div {
  font-size: 10px;
}
.relative {
  font-size: 2em;
}
.absolute {
  font-size: 32px;
}
