/* CSS BOX Model */

/* 
*{                 Remember this selects all element 
  margin: 0;       This will Remove all the default margin!  
} 
*/

h1 {
  background: red;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 50px;
  margin-bottom: 0;
  /*
  border-style: solid;
  border-width: 10px;
  border-color: green; these are for border if you want, uncomment it! 
  */
  border-bottom-style: dashed;
  border-bottom-width:  5px;
  border-bottom-color: #222;
}

p {
  background: blue;
  /* 
  padding: 50px; This will create equal amount of padding at all corners! 
  */
  /* 
  padding: 30px 60px; This will make the padding such that the first value will be the top and bottom padding while the second value will be the left and right padding! 
  */
  padding: 20px 40px 60px 80px;
  margin: 100px 20px 20px 50px;  
  /* 
  border: 13px solid yellow; similar to the border we keyed in for the h1 element! 
  /*
}
