h1 {
  color: crimson;
  font-size: 4rem;
}

h2 {
  color: cadetblue;
}

/* css rule */
/* selectors */
/* declaration block */
/* decalaration = property + value */
/* property */
/* value */