/*Last Rule Order*/
div {
  height: 400px;
  color: red;
  height: 200px;
}
div {              /* This will overwrite the line 2 to 6 */
  height: 200px;
  color: blue;
}
.big-img {
  background: url("./Big.jpg");
  background-repeat: round;
}
.small-img {
  background: url("./Small.jpg");
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: space;       /*Try to comment any of these statement out to test what they do... Because as of now using the last rule order, only this line 21 is executed for background repeat! */
}
.folder-img {
  background: url("./Folder/Nigga.jpg");
}
