* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: orange;
}
.banner {
  background: url("./Big.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("./Big.jpg") center/cover no-repeat fixed;
}
.colorzilla {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ea2e6d+0,2989d8+48,82f2c1+100&0.5+0,1+100 */
  background: -moz-linear-gradient(
    left,
    rgba(234, 46, 109, 0.5) 0%,
    rgba(41, 137, 216, 0.74) 48%,
    rgba(130, 242, 193, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(234, 46, 109, 0.5) 0%,
    rgba(41, 137, 216, 0.74) 48%,
    rgba(130, 242, 193, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(234, 46, 109, 0.5) 0%,
    rgba(41, 137, 216, 0.74) 48%,
    rgba(130, 242, 193, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ea2e6d', endColorstr='#82f2c1',GradientType=1 ); /* IE6-9 */
}
