div {
  border: 3px solid red;
  background: yellow;
  margin-top: 40px;
}
.one {
  background: blue;
  position: relative;
  top: 50px;
  left: 20rem;
}
.two {
  background: green;
}
.special {
  background: lightcoral;
  font-size: 20px;
}
