/* Media queries 
Responsive Design
Style Elements On different Screen Sizes
min-width --- starting from
max-width --- up to 
Mobile First
*/

body {                    /*This is the default!*/
  background: yellow;
}
.banner {
  background: blue;
}
h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

@media screen and (min-width: 1280px) {
  body {
    background: red;
  }
  .banner {
    background: yellow;
    border-radius: 20px;
  }
  h1 {
    color: black;
    font-size: 60px;
  }
}

@media screen and (min-width: 1500px) {
  body {
    background: green;
  }
  .banner {
    background: blue;       /* Notice that even though border-radius is not mentioned here but it uses the line 28's border-radius! */ 
  }
  h1 {
    color: black;
    font-size: 60px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
