/* :root root element of the document
html element
general styles
css variables
*/
:root {
  background: red;
  font-size: 120%;
}
/* RECALL!! 1rem === 16px... By default though... */
h1 {
  font-size: 3rem;
}
.absolute {
  font-size: 24px; /* This will not change in size when you change the font size in the broswer! (THIS IS ABSOLUTE, so even though you add in the font-size: 120% property, this will still not change!) */
}
.responsive {
  font-size: 1.5rem;
}
